# Telegram配置
telegram_bot_token: ""  # 你的Telegram Bot Token
telegram_chat_id: ""    # 授权的Telegram用户ID

# IP更换配置
ip_check_api: "https://api-ipv4.ip.sb/ip"       # IP检查API地址
ip_change_api: ""       # IP更换API地址
ip_change_interval: 2  # IP更换最小间隔(分钟)
log_file: "change_ip.log"